[submodule "1_dmenu"]
  path = 1_dmenu
  url = https://github.com/najeeb-rifaat/dmenu.git
[submodule "2_st"]
  path = 2_st
  url = https://github.com/najeeb-rifaat/st.git
[submodule "3_dwm"]
	path = 3_dwm
	url = https://github.com/najeeb-rifaat/dwm.git
[submodule "4_surf"]
	path = 4_surf
	url = https://github.com/najeeb-rifaat/surf.git
