# file /etc/systemd/system/sleeplock.service

[Unit]
Description=Lock the screen on resume from suspend

[Service]
User=najee89b
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/najee89b/.local/bin/lock

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
